@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');


:root {
    /*divs, sections, body etc*/
    --main-color-light: #ffffff;
    --main-color-dark: #1f2023;
    --sections_dark_theme: #767677;
    /*//TEXTOS//*/
    --text_dark_theme: #f1f1f1;
    --text_light_theme: #000000;
    --text_dark_hover: #8a8a8a;
    --fuente: 'Roboto Mono', monospace;
    ;
    /*//hovers y demas//*/
    --hover_light_theme: #6362622f;



}

* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: var(--fuente);
}

body {
    background-color: var(--main-color-light);
    color: var(--text_light_theme);
    transition: .2s all;
    animation-fill-mode: both;
    background-color: transparent;
}



header {
    display: flex;
    width: 100%;
    height: 53px;
    justify-content: start;
    box-shadow: 0 8px 24px rgba(17, 17, 26, 0.1), 0 16px 56px rgba(17, 17, 26, 0.1), 0 24px 80px rgba(172, 172, 175, 0.1), 0 0 0 currentColor, 0 0 0 currentColor;

}

main {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
}


.img_background {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;

}

.bloque_I {
    width: 50%;
    margin-top: 4px;
    margin-bottom: 10px;
    background-color: var(--main-color-light);
}


.bloque_D {
    width: 50%;
    margin-top: 4px;
    height: 550px;
    background-image: url('/media/cat_programmer.gif');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    transition: .3s ease all;
    background-color: #636262;

}

.gradient {
    width: 50%;
    height: 550px;
    position: absolute;
    background: rgba(236, 236, 236, 0);
}


.title_P {
    display: block;
    position: relative;
    width: 100%;
    height: fit-content;
    text-align: left;
    padding: 12px;
    padding-left: 35px;
    font-size: 30px;
    font-weight: 600;
    z-index: 100;
    background: none;
    margin-top: 20px;
    text-align: center;
}

.cursos_list {
    margin-top: 20px;
    margin-left: 10px;
}



/*////////////navbar//////////////////*/
.navbar {
    display: block;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;

}

/*//////////USER ICONS//////////////*/
.User_side {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.User_side li {
    display: flex;
    width: 50px;
    height: 50px;
    line-height: 51px;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
    align-items: center;

}

.User_side li a {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #000000;
    font-size: 25px;
}

.User_side li:hover a {
    color: var(--text_dark_hover);
}

/*/////////////////////*/

.menu {
    display: flex;
    width: 40%;
    justify-content: space-between;


}

.menu .menu_list {
    position: relative;
    display: inline-block;
    width: 20%;
    height: 53px;
    justify-content: space-evenly;
    border-left: 2px rgb(192, 190, 190) solid;

}

.menu .menu_list .menu_enlace {
    display: block;
    font-size: 15px;
    text-align: center;
    line-height: 52px;
    height: 100%;
    color: var(--text_light_theme);
}

.menu .menu_enlace:hover {
    text-shadow: #FFF 0px 0px 5px, 2px 2px 2px rgba(206, 89, 55, 0);
    font-size: 16px;
    background-color: var(--hover_light_theme);
    color: #636262;
    transition: 0.3s;
}

.submenu {
    display: none;
    color: #b3b0b0;
    position: absolute;
    width: 100%;
    height: fit-content;
    background-color: #e7e6e6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    flex-direction: column;

}

.sub_frame {
    height: 25px;
    width: 100%;


}

.sub_frame:hover {
    background-color: var(--hover_light_theme);
}

.sub_frame a {
    color: var(--text_light_theme);
}



.menu .frameworks:hover .submenu {
    display: flex;

}

/*///////////secciones///////////////*/
.first {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 20px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 8px 24px rgba(17, 17, 26, 0.1), 0 16px 56px rgba(17, 17, 26, 0.1), 0 24px 80px rgba(172, 172, 175, 0.1), 0 0 0 currentColor, 0 0 0 currentColor;

    text-indent: 10px;
}


.first.intro {
    width: 96%;
}

.first p {
    font-size: 20px;
    padding: 10px;

}

.first h2 {
    text-align: center;

}

.container{
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: space-evenly;
    align-items: center;
}

.l_img{
    display: flex;
    width: 23%;
    height: 90%;
 
    justify-content: center;
}

footer {
    width: 100%;
    height: 250px;
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0 8px 24px rgba(17, 17, 26, 0.1), 0 16px 56px rgba(17, 17, 26, 0.1), 0 24px 80px rgba(172, 172, 175, 0.1), 0 0 0 currentColor, 0 0 0 currentColor;

}

footer h2 {
    text-align: center;
}

footer section {
    display: flex;
    width: 100%;
    height: 80%;
}

section .contact {
    width: 50%;
    height: 120px;
    background-color: red;
}

section .contact2 {
    width: 50%;
    height: 120px;
    background-color: #4a4b4e;
}

/*TEXTOS*/
p {
    text-align: justify;
}





/*////////////////////MODO OSCURO////////////////////*/

/*/SWITCH/*/
.switch {
    position: relative;
    height: 30px;
    background: #4a4b4e;
    border-radius: 1000px;
    border: none;
    cursor: pointer;
    display: flex;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
    transition: .3s ease all;


}



.switch span {

    height: 30px;
    width: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fba12c;
}

.switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: var(--text_dark_theme);
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}

.active {
    background-color: #ffffff;
    transition: .3s ease all;
}

.active::after {
    right: 0;
    left: unset;
}

.dark {
    background-color: var(--main-color-dark);
    color: var(--text_dark_theme);
}

body.dark .menu_list .menu_enlace {
    color: var(--text_dark_theme);
}

body.dark .icons_user_side {
    color: var(--text_dark_theme);
}

body.dark .first {

    background-color: #242424;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15), 0 5px 10px rgba(0, 0, 0, 0.05);

}

body.dark .bloque_I {

    background-color: var(--main-color-dark);
    box-shadow: 0 13px 27px -5px #1f2023, 10px 8px 16px -8px #1f2023;
    z-index: 100;


}


body.dark .bloque_D {
    background: rgb(82, 9, 121);
    background: linear-gradient(52deg, rgba(82, 9, 121, 1) 22%, rgba(209, 16, 246, 1) 73%, rgba(188, 0, 255, 1) 100%);
    background-image: url('/media/hacker.gif');
    background-color: #636262;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50%;


}

body.dark .gradient {
    width: 50%;
    height: 550px;
    position: absolute;
    background: rgb(66, 20, 99);
    background: linear-gradient(333deg, rgba(66, 20, 99, 0.3938922763611219) 53%, rgba(31, 32, 35, 0.9681140034138656) 74%, rgba(31, 32, 35, 0.9793184852065826) 91%);
    box-shadow: inset 0 -50px 29px -28px #1f2023;
}

body.dark .title_P {
    z-index: 1000;
}